/.ipynb_checkpoints
/1bc.JPG
/2q.JPG
/5layerUnet.hdf5
/6a.JPG
/b.jpg
/glomeruli-hubmap-external-mask-prediction.ipynb
/glomeruli.hdf5
/images_1024
/masks_1024
/train_image
/train_mask
/unet.pkl
/unetMO_32B_20E_16F.keras
/unetMO_32B_20E_32F.keras
/unet_new1
/unet_new2
/unet_old1
/Untitled.ipynb